header {
  width: 100vw;
  padding: 20px 0;
  position: fixed;
  top: 0px;
  background-color: #023586;
  z-index: 1;
}

nav {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  color: white;
  font-size: 28px;
  font-weight: 700;
}

.navigation {
  display: flex;
  color: white;
  font-size: 14px;
  font-weight: 600;
  gap: 20px;
}

.navigation > ul {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navigation > ul > li {
  padding: 12px 10px;
  border-radius: 8px;
}

.nav_color_yellow {
  color: #feda24;
}
